html, body {
    margin: 0;
    padding: 0;
}

.header {
    height: 60px;
    padding: 0 24px;
    background-color: grey;
    line-height: 60px;

}

h1 {
    float: left;
    margin: 0;
}

.header ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header li {
    float: left;
    margin-left: 24px;
}

.header a {
    color: black;
    text-decoration: none;
}
.content {
    float: left;
    width: 70%;
    background-color: lightgray;
    min-height: 500px;
}
.sidebar {
    float: left;
    width: 30%;
    background-color:black;
    color: white;
    min-height: 500px;

}

.main {
    margin: 20px;
    display: flex;
}

.blog-post {
    margin: 10px;
    padding: 10px;
    border: lightgray;
    background-color: white;


}

.content p {
    margin: 10px;
}

.sidebar p {
    margin: 10px; 
}
img {
    float: left;    
    margin-right: 10px;
    margin-bottom: 10px;
    width: auto;
    height: auto;
    object-fit: contain;

}




